CONFIG_UM_FEATURE_ETHERNET=y
CONFIG_ETHERNET_INTERNAL_SUPPORT=n
CONFIG_ETHERNET_SPI_SUPPORT=y
CONFIG_ETHERNET_SPI_DEV0_W5500=y
CONFIG_ETHERNET_SPI_DEV1_NONE=y
CONFIG_ETHERNET_SPI_HOST=1
CONFIG_ETHERNET_SPI_SCLK_GPIO=18
CONFIG_ETHERNET_SPI_MOSI_GPIO=21
CONFIG_ETHERNET_SPI_MISO_GPIO=19
CONFIG_ETHERNET_SPI_CLOCK_MHZ=16
CONFIG_ETHERNET_SPI_CS0_GPIO=5
CONFIG_ETHERNET_SPI_INT0_GPIO=4